--extra-index-url https://download.pytorch.org/whl/cpu

# LangChain
langchain==0.1.16
langchain-community==0.0.36
langchain-google-genai==0.0.8

# Vector DB
chromadb==0.4.24

# Embeddings / ML
sentence-transformers==2.7.0
transformers==4.41.2
huggingface-hub==0.24.6
tokenizers==0.19.1
torch==2.2.2+cpu

# Google AI
google-generativeai==0.3.2

# Data Processing
pandas==2.2.2
numpy==1.26.4

# Tokenization
tiktoken==0.7.0

# Web UI
streamlit==1.33.0
